main {
    flex: 1;
    margin-left: 10px;
}
main .containerMessages{
    width: 320px;
    height:200px;
    box-shadow:  0 0 14px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 30px 20px; 
}

/* main div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    min-height: 330px;
    overflow-y: auto;
    width: 100%;
    padding-right: 30px;
    background-color: rgb(224, 238, 242);
} */
li.dev-item{
    
     box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
     border-radius: 2px;
     padding: 20px;
 }
 li.dev-item header{
     display: flex;
     flex-direction: row;
     align-items: center;
 }
li.dev-item img{
     width: 54px;
     height: 54px;
     border-radius: 50%;
 }
 li.dev-item header .user-info {
     margin-left: 10px;
 }
 .user-info strong{
     display: block;
     font-size: 16px;
     color: #333333;
 }
 .user-info span{
     font-size: 13px;
     color: #999999;
     margin-top: 2px;
 }
 .dev-item p {
      color: #666666;
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0;
 }
 
 
 @media(max-width: 1000px){
    
    main{
        margin-left: 0px;
        margin-top: 30px;
      
    }
  
  }
  @media(max-width: 660px){
    main ul{
        grid-template-columns: 1fr;
    }
    
  
  }