li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    border-radius: 50%;
    justify-content: center;   
    
}
li .boxResponse{
    background-color: #FFFFFF;
    border-radius: 5px; 
    padding: 10px; 
    width: 100%;  
    border: 1px solid black;
}
.balaoInput{
    height: 30px;
    width: 200px;
    margin-right: 10px;    
}
.balaoButton{
    width: 30px;
    height: 30px;
    border:none;
    background-color: transparent;
}
.filter-green{
    height: 20px;
    width: 20px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.filter-red{
    
}
.balao{
    margin: 0 auto; 
    background: #FFFFFF;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: black;
    padding: 20px;
    position: relative;
   /*  margin-top: 30px; */
  
}
.balao:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;    
    border-bottom: 20px solid #FFFFFF;
    top: 9px; 
    right: -6%;
    

}