li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
    border-radius: 50%;
    
}
li img{
    padding-right: 20px;
}
li .boxText{
    background-color: #FFFFFF;
    border-radius: 5px; 
    padding: 10px; 
    display: flex;  
    border: 1px solid black;
}
li div.p{
    margin: 10px;
}

 li.messageQuad{
    
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

li.messageQuad img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.messageQuad p {
     color: #666666;
     font-size: 14px;
     line-height: 20px;
     margin: 10px 0;
} 

.balao2{
    margin: 0 auto; 
    background: #FFFFFF;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: black;
    padding: 20px;
    position: relative;
    margin-top: 30px;
}
.balao2:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
    /*Aqui entra a cor da "aba" do balão */
    border-bottom: 20px solid #FFFFFF;
    left: -20px; /*localização. Experimente alterar para 'bottom'*/
    right: 20%;
    top: 30px;
}

